/**
  |============================
  | Reset
  |============================
*/
h1,h2,h3,h4,h5,h6,p {margin: 0;}
a {text-decoration: none; color: currentColor;}
ul {margin: 0; padding: 0; list-style: none;}
img {display: block; max-width: 100%; height: auto;}
button {cursor: pointer; color: currentColor;}
li:last-child {margin-bottom: 0;}
.list {list-style: none; padding: 0; margin: 0;
}
.link { text-decoration: none; color: currentColor;
}

@media only screen and (max-width: 768px) {
  .prtf-image {
    width: 100%;
  }
}


/**
  |============================
  | Root
  |============================
*/
:root {
  scroll-behavior: smooth;

	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: #2e2f42;
	--grey: #2e2f42;
	--white: #ffffff;
	--dairy: #fcfcfc;

	--anim-properties: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Other
  |============================
*/
.body {
font-family: "Roboto", sans-serif; 
color: var(--slate); 
background-color: var(--white);
}

.links{
transition: color var(--anim-properties);
}

.links:hover, .links:focus {
color: var(--ocean); 
cursor: pointer
}

/* Phone */
.container{ 
min-width: 320px;
max-width: 428px;
margin: 0 auto;
padding-left: 16px;
padding-right: 16px;
}
/* Tablet */
@media only screen and (min-width: 768px) {
  .container {
   max-width: 736px; 
   padding: 0 0;
  }
}
/* Desktop */
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sections{padding: 96px 0;}

@media only screen and (min-width: 1158px) {
  .sections {
    padding: 120px 0;
  }
}

.icon{
fill: var(--cloud);
}



/**
  |============================
  | Header
  |============================
*/
/* Mobile */
.header{
border-bottom: 1px solid var(--cornflower);
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 1px 6px rgba(46, 47, 66, 0.08);
/* position: fixed;
top: 0;
width: 100%; */
}

/* logo */
.web-logo {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--iris);
}
/* .logo{
margin-right: auto ;
} */

/* @media only screen and (min-width: 768px) {
  .logo {
    margin-right: 120px;
  }
} */

@media only screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
}

.head-studio {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--navy-blue);
}

/* Navigation */
.heder-nav{
display: flex;
align-items: center;
}

@media only screen and (max-width: 767px) {
  .heder-nav {
    display: none;
  }
}

@media only screen and (min-width: 1158px) {
  .heder-nav {
    margin-right: auto;
  }
}




/* links */
.adress-link, .contact-link {
color: var(--slate);
display: block;
}

@media only screen and (min-width: 1158px) {
  .adress-link, .contact-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.adress {
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
}

@media only screen and (max-width: 767px) {
  .adress {
    display: none;
  }
}

/* @media only screen and (max-width: 768px) {
  .adress {
    margin-left: 122px;
  }
} */

@media only screen and (min-width: 1158px) {
  .adress {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.header-links{
display: block;
padding-top: 24px;
padding-bottom: 24px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--grey);
position: relative;
}

.header-links::after{
content: "";
position: absolute;
bottom: 0;
left: 0;
display: block;
width: 48px;
height: 4px;
border-radius: 2px;
width: 100%;
bottom: -1px;
}
.current{
color: var(--ocean);
}

.header-links.current::after { background-color: var(--ocean);
}


/* Header flex elements */
.header-container, .head-nav-links {
display: flex;
align-items: center;
justify-content: space-between;

}

@media only screen and (min-width: 768px) {
  .head-nav-links {
    gap: 40px;
  }
}

 

.contact-head-list{
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
}

@media only screen and (min-width: 1158px) {
  .contact-head-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

/**
  |============================
  | Studio
  |============================
*/

/* Hero image */
.first-sections {
background-color: var(--grey);


background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin: 0 auto;
padding:112px 0;
}

@media only screen and (min-width: 768px) {
  .first-sections {
    padding: 112px 0;
  }
}


@media only screen and (min-width: 1158px) {
  .first-sections {
    padding: 188px 0;
  }
}

@media only screen and (max-width: 428px) {
  .hero-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/background/mobstudio@1.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/background/mobstudio@2.jpg);
  }
  }
}

@media only screen and (min-width: 429px) and (max-width: 768px) {
  .hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bgbbtab@1.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/background/Dark-bgbgtab@2.jpg);
  }
  }
}

@media only screen and (min-width: 769px) {
  .hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/background/people-office1.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)), url(../images/background/people-office2.jpg);
  }
  }
}



.first-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color: var(--white);
max-width: 320px;
margin: 0 auto;
margin-bottom: 72px;
}


@media only screen and (min-width: 768px) {
  .first-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 1158px) {
  .first-title {
    margin-bottom: 36px;
  }
}


 /* Order button */
.order-button {
font-family: "Roboto", sans-serif;
background-color: var(--iris);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white);
cursor: pointer;
margin: 0 auto;

transition: background-color var(--anim-properties);
}

.order-button:hover, .order-button:focus { background-color: var(--ocean);
}


.btn{
gap: 10px;
align-items: center;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px; 
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
padding: 16px 32px;
}

/* Section 1 */
.title-list {
max-width: 396px;
}

@media only screen and (min-width: 768px) {
  .title-list {
    max-width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .title-list {
    max-width: 264px;
  }
}

.strategy-icons-container{
display: flex;
align-items: center;
justify-content: center;
width: 264px;
height: 112px;
background: var(--cloud);
border-radius: 4px;
/* padding: 24px 100px; */
margin-bottom: 8px;
}

@media only screen and (max-width: 1157px) {
  .strategy-icons-container{
    display: none;
  }
}

.cards-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
}

@media only screen and (min-width: 768px){
  .cards-title {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
  .cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.std-paragraph {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}

@media only screen and (min-width: 1158px) {
  .std-paragraph {
    font-weight: 400;
  }
}


/* Flex elements section 1*/
.flex-features{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 72px;
}

@media only screen and (min-width: 768px) {
  .flex-features {
    flex-direction: row;
    flex-wrap: wrap ; 
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .flex-features {
    gap: 24px;
    flex-direction: row;
  }
}


/* Section 2 */
/* Phone */
.thrid-sections {
display: none;
padding-bottom: 120px;
padding-top: 0;
}

/* Desktop */
@media only screen and (min-width: 1158px) {
  .thrid-sections {
  display: block;
  }
}

.second-title {
font-weight: 700;
font-size: 36px;
text-align: center;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
margin-bottom: 72px;
}

/* flex elements section 2*/
.studio-image-list{
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.studio-image{
width: calc((100% - 48px) / 3);
}


/* Section 3 */
.four-sections {
background-color: var(--cloud);
align-content: center;
}


.thrid-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
margin-bottom: 72px;
}

.photo-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 8px;
text-align: center;
}

.photo-text{
text-align: center;
margin-bottom: 8px;
}

.descr-photo{
padding: 32px 0px;
}

.team-list {
background-color: var(--white);
}

.team-item-container {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 
0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}



/* Flex elements section 3*/
.team-list-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 72px;
}

@media only screen and (min-width: 768px) {
  .team-list-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-list-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;

  }
}

.social-list{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 24px;
}

.social-items{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background-color: var(--iris);
border-radius: 50%;

transition: background-color var(--anim-properties);

}

.social-items:hover, .social-items:focus{ background-color: var(--ocean);
}

/* Section 4 */
.customers-title{
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
margin-bottom: 72px;
}

.customer-list {
display: flex;
flex-wrap: wrap;
gap: 72px 16px;
justify-content: center;
}

@media only screen and (min-width: 768px) {
  .customer-list {
    align-items: center;
    gap: 72px 24px;
    width: 552px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1158px) {
  .customer-list {
    flex-wrap: nowrap;
    width: 100%;
  }
}


.client-list {
  width: calc((100%) / 1);
  height: 88px;
}

@media only screen and (min-width: 330px) {
  .client-list{
    width: calc((100% - 16px) / 2);
  }
}

@media only screen and (min-width: 768px) {
  .client-list {
    width: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .client-list {
    width: calc((100% - 120px) / 6);
  }
}

.customer-link{
/* padding: 16px 32px; */
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
border: 1px solid var(--light-slate);
border-radius: 4px;
color: var(--light-slate);
fill: var(--light-slate);

transition: color var(--anim-properties), 
fill var(--anim-properties), 
border-color var(--anim-properties) ;
}

.customer-link:hover, .customer-link:focus {fill: var(--ocean); border-color: var(--ocean); color: var(--ocean);
}


/**
  |============================
  | Portfolio
  |============================
*/
.portfolio-sections {
padding: 48px 0 48px;
}

@media only screen and (min-width: 768px) {
  .portfolio-sections {
    padding: 64px 0 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-sections {
    padding: 96px 0 120px;
  }
}

/* Buttons sections */
.filter-button {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
text-align: center;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: var(--cloud);
color: var(--iris);
border: 1px solid var(--cloud);
border-radius: 4px;

transition: color var(--anim-properties), 
background-color var(--anim-properties), 
box-shadow var(--anim-properties), 
border var(--anim-properties), 
border-radius var(--anim-properties);
}

.filter-button:hover, .filter-button:focus { background-color: var(--ocean);
color: var(--white);
border: 1px solid transparent;
cursor: pointer;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
}


/* Flex button elements */
.btns{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
}

@media only screen and (min-width: 768px) {
  .btns{
   padding: 12px 24px;
  }
}

.filter-button-list{
display: flex;
align-items: center;
gap: 16px 24px;
margin-bottom: 48px;
flex-wrap: wrap;
width: 100%;
}

@media only screen and (min-width: 768px) {
  .filter-button-list {
    align-items: center;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
  }
}

/* Links sections */

.description {
font-weight: 500;
font-size: 20px;
letter-spacing: 0.02em;
line-height: 1.2;
color: var(--navy-blue);
margin-bottom: 8px;
}

.prtf-paragraph{
font-weight: 400;
font-size: 16px;
letter-spacing: 0.02em;
line-height: 1.5;
color: var(--slate);
}

.prtf-card-item {
width: 396px; 
}

@media only screen and (min-width: 768px) {
  .prtf-card-item {
    width: 356px;
  }
}

@media only screen and (min-width: 1158px) {
  .prtf-card-item {
    width: 360px;
  }
}

.prtf-card-link{
display: block;

transition: box-shadow var(--anim-properties);
}

.prtf-card-link:hover, .prtf-card-link:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.prtf-image-box{
position: relative;
overflow: hidden;
}

.overlay{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 40px 32px 0;
background-color: var(--iris);
transform: translateY(100%);
transition: transform var(--anim-properties);
}

.prtf-card-item:hover .overlay {
transform: translateY(0);
}

.overlay-text{
color: var(--cloud);
letter-spacing: 0.02em;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
}

/* Flex card content */
.prtf-card-content{
padding: 32px 16px;
border: 1px solid var(--cornflower);
border-top: none; 
}

.prtf-card-list{
display: flex;
flex-wrap: wrap;
/* width: calc(100% - (24px * 2) / 3); */
gap: 48px;
flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .prtf-card-list {
    flex-direction: row;
    gap: 72px 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .prtf-card-list {
    gap: 48px 24px;
  }
}


/**
  |============================
  | Footer
  |============================
*/
.footer {
background-color: var(--navy-blue);
padding: 96px 0;
}


@media only screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

.foter-paragraph {
color: var(--cloud);
max-width: 264px;
font-weight: 400;
letter-spacing: 0.02em;
font-size: 16px;
line-height: 1.5;
}

.logo-pad {
display: block;
align-items: center;
margin-bottom: 16px;
text-align: center;
}

@media only screen and (min-width: 768px) {
  .logo-pad {
    text-align: start;
  }
}


.studio-color {
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
letter-spacing: 0.03em;
line-height: 1.17;
text-transform: uppercase;
color: var(--cloud);
}

.flex-footer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 72px 24px;
}

@media only screen and (min-width: 768px) {
  .flex-footer {
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 552px;
  }
}

@media only screen and (min-width: 1158px) {
  .flex-footer {
    flex-direction: row;
    justify-content: unset;
    flex-wrap: nowrap;
    gap: 0 0;
    width: 100%;
  }
}

.footer-logo{
margin-right: 0;
max-width: 268px;
}

@media only screen and (min-width: 1158px) {
  .footer-logo {
    margin-right: 120px;
    max-width: 264px;
  }
}

.social-title{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 2%;
color: var(--white);
margin-bottom: 16px;
text-align: center;
}

@media only screen and (min-width: 768px) {
  .social-title {
    text-align: start;
  }
}

.social-footer{
display: flex;
flex-direction: row;
align-items: center;
gap: 16px;
}


.footer-items{
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background-color: var(--iris);
border-radius: 50%;

transition: background-color var(--anim-properties);
}

.footer-items:hover, .footer-items:focus{ background-color: var(--green);
}


/* Subscribe */

.footer-form{
display: flex;
flex-direction: column;
justify-content: center;
}

@media only screen and (min-width: 768px) {
  .footer-form {
    flex-direction: row;
    /* justify-content: unset; */
  }
}

.subscribe-form{
margin-left: 0;
width: 100%;
}

@media only screen and (min-width: 768px) {
  .subscribe-form {
    margin-right: auto;
    width: 453px;
  }
}

@media only screen and (min-width: 1158px) {
  .subscribe-form {
    margin-right: 0;
    margin-left: auto;
  }
}

.subscribe-title{
margin-bottom: 16px;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--white);
text-align: center;
}

@media only screen and (min-width: 768px) {
  .subscribe-title {
    text-align: start;
  }
}

.subscribe-btn{
display: flex;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 16px;
background: var(--iris);
border-radius: 4px;
width: 165px;
min-height: 40px;
border: none;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color:var(--white);
margin: 0 auto;

transition: background-color var(--anim-properties);
}

@media only screen and (min-width: 768px) {
  .subscribe-btn {
    margin-left: 24px;
  }
}

.subscribe-btn:hover, .subscribe-btn:focus{
background-color: var(--ocean);
}

.sender-icon{
fill: var(--white);
}


.footer-input{
border: 1px solid var(--white);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: var(--navy-blue);
min-height: 40px;
color: var(--white);
outline: none;
padding: 0 16px;
margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
   .footer-input{
      max-width: 428px;
   }
}

@media only screen and (min-width: 768px) {
  .footer-input {
    margin-bottom: 0;
    width: 264px;
  }
}

.footer-input::placeholder{
position: absolute;
top: 50%;
left: 16px;
transform: translateY(-30%);
font-weight: 400;
font-size: 12px;
line-height: 2;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--white);
width: 36px;
min-height: 24px;
}



/**
  |============================
  | Modal window
  |============================
*/
/* Backdrop */
.backdrop{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 500ms var(--cubic);
}

.backdrop.is-hidden{
opacity: 0;
visibility: hidden;
pointer-events: none;
}

/* Window */
.modal {
position: absolute;
width: 392px;
left: 50%;
top: 50%;
transform: translate(-50%, 0);
background: var(--dairy);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 72px 16px 24px 16px;
transform: translate(-50%, -50%) scale(1) ;
transition: transform 500ms var(--cubic);
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding: 72px 25px 24px 23px;
  }
}

@media only screen and (min-width: 1158px) {
  .modal {
    padding: 72px 24px 24px 24px;
  }
}

.backdrop.is-hidden .modal{
transform: scale(0.4) translate(-100%, 100%) rotate(-180deg); 
opacity: 0;
transition: 500ms;
}

/* Close button */
.modal-button {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
background: var(--cornflower);
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color var(--anim-properties);
}

.modal-close-icon {
display: block;
margin: 0 auto;
fill: var(--navy-blue);
transition: fill var(--anim-properties);
}

.modal-button:hover, .modal-button:focus {
background-color: var(--ocean);
}
.modal-button:hover > .modal-close-icon {
  fill: var(--white);
}
.modal-button:focus > .modal-close-icon {
   fill: var(--white);
}

/* Mobile */
.menu-toggle {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
border-radius: 50%;
background: var(--cloud);
border: 1px solid rgba(0, 0, 0, 0.1);
cursor: pointer;
transition: background-color var(--anim-properties);
}

.menu-close-icon {
display: block;
margin: 0 auto;
fill: var(--navy-blue);
transition: fill var(--anim-properties);
}

/* .menu-toggle:hover, .menu-toggle:focus {
background-color: var(--ocean);
}
.menu-toggle:hover > .menu-close-icon {
  fill: var(--white);
}
.menu-toggle:focus > .menu-close-icon {
   fill: var(--white);
} */

/* Send button */

.modal-btn {
/* display: flex;
justify-content: center; */
display: block;
margin: 0 auto;
}

.modal-send-btn{
padding: 16px 32px;
width: 169px;
min-height: 56px;
background: var(--iris);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white);
}

.modal-send-btn:hover, .modal-send-btn:hover {
background-color: var(--ocean);
}


/* Moadl forms */
.modal-form{
display: flex;
flex-direction: column;
}

.user-data{
width: 360px;
min-height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
resize: none;
outline-offset: -1px;
outline: 1px solid transparent;
transition: border-color var(--anim-properties);
padding: 0 38px;
outline: none;
}

.user-data-coment{
width: 360px;
min-height: 120px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
resize: none;
outline: 1px solid transparent;
transition: border-color var(--anim-properties);
padding: 8px 16px;
font-size: 12px;
/* padding: 0 13px; */
}

.user-data:focus, .user-data-coment:focus, .user-data:hover, .user-data-coment:hover {
border-color: var(--iris);
}

.user-data:focus + .modal-icons {
fill: var(--iris);
}
.user-data:hover + .modal-icons {
fill: var(--iris);
}

.user-data-coment::placeholder {
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
/* position: absolute;
left: 16px;
top: 8px ; */
}

.modal-title{
display: block;
/* margin: 0 auto; */
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--navy-blue);
margin-bottom: 16px;
}

.modal-inputs{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
border-radius: 4px;
margin-bottom: 16px ;
}

.check-box-container{
width: 360px;
min-height: 16px;
display: flex;
align-items: center;
padding: 0;
margin-bottom: 24px;
cursor: pointer;
}

.checkbox{
appearance: none;
/* width: 16px;
height: 16px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 2px;
transition: background-color var(--anim-properties),
border-color var(--anim-properties),
background-size 600ms var(--cubic) 100ms;

background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.44558 0.255056C8.61838 0.089653 8.84834 -0.00178848 9.08693 2.65108e-05C9.32551 0.0018415 9.55407 0.0967713 9.72436 0.264784C9.89466 0.432797 9.99337 0.660752 9.99968 0.900549C10.006 1.14034 9.91939 1.37323 9.75816 1.55005L4.86357 7.70436C4.7794 7.79551 4.67782 7.86865 4.5649 7.91942C4.45198 7.97018 4.33003 7.99754 4.20636 7.99984C4.08268 8.00214 3.95981 7.97935 3.8451 7.93282C3.73038 7.88629 3.62618 7.81698 3.53872 7.72903L0.292827 4.46564C0.202435 4.38096 0.129933 4.27884 0.0796475 4.16537C0.0293621 4.05191 0.00232279 3.92942 0.000143182 3.80522C-0.00203643 3.68102 0.0206883 3.55765 0.0669613 3.44248C0.113234 3.3273 0.182108 3.22267 0.269473 3.13483C0.356838 3.047 0.460905 2.97775 0.575465 2.93123C0.690026 2.88471 0.812734 2.86186 0.936267 2.86405C1.0598 2.86624 1.18163 2.89343 1.29449 2.94398C1.40734 2.99454 1.50892 3.06743 1.59315 3.15831L4.16189 5.73967L8.42227 0.28219C8.42994 0.272694 8.43813 0.263635 8.4468 0.255056H8.44558Z' fill='%23F4F4FD'/%3E%3C/svg%3E");
background-repeat: no-repeat;
background-position: center;
background-size: 0; */
}
/* .checkbox:checked {
background-color: var(--ocean);
border-color: var(--ocean);
background-size: 10px;
transition-delay: 300ms, 300ms, 0;
} */

.checkbox-icon-disabled{
opacity: 1;
transition: opacity var(--anim-properties) ;
}
.checkbox:checked + .checkbox-icon > .checkbox-icon-disabled{
opacity: 0;
}
.checkbox-icon-active{
opacity: 0;
transition: opacity var(--anim-properties) ;
}
.checkbox:checked + .checkbox-icon > .checkbox-icon-active{
opacity: 1;
}

.check-text{
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: var(--light-slate);
}

.checkbox-icon{
margin-right: 8px;
}

.label-text{
display: block;
font-weight: 400;
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.04em;
color: var(--light-slate);
margin-bottom: 4px;
}

.input-box{
position: relative;

}

.modal-icons{
position: absolute;
top:50%;
left:16px;
transform: translateY(-50%);
pointer-events: none;
transition: fill var(--anim-properties);
}

.privacy-link {
text-decoration: underline 1px var(--iris) ; 
color: var(--iris);
}

/**
  |============================
  | Mobile menu
  |============================
*/

.hamburger-menu{
  fill: var(--navy-blue);
}

.menu-close-icon{
fill: var(--navy-blue);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: unset;
}

.menu-close-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: rgba(231, 233, 252, .1);
  cursor: pointer;
  border: 1px solid rgba(46, 47, 66, .1);
  border-radius: 50%;
  outline: none;
}

@media (min-width: 767px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 999;
  padding: 80px 30px 40px 40px;

  display: flex;
  flex-direction: column;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-close-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: var(--navy-blue);
}


.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}


.mobile-menu .link {
  display: block;
  /* padding: 10px; */
  color: var(--navy-blue);
  text-decoration: none;
}

.social-mobile{
display: flex;
justify-content: space-between;
align-items: center;
}

.mobile-menu{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
}

.mobile-contacts{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 40px;
margin-bottom: 48px;
}

.mobile-contact-phone {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--iris);
}

.mobile-contact-email{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--slate);
}

.mobile-menu .contact-mob-link{
color: var(--iris)
}

.hamburger-menu{
stroke: var(--navy-blue);
}